body {
    font-family: "Playfair Display", serif;
    font-family: "Source Sans 3", sans-serif;
    background-color: black;
    color: #f5ebeb;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* header */

.header {
    width: 1440px;
    height: 1076px;
    position: relative;
}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-link {
    color: #fff;
    transition: .25s color cubic-bezier(.4,0,.2,1);
    outline: none;
    position: relative;
}

.nav-link:after {
    content: "";
    width: 100%;
    bottom: -5px;
    left: 0;
    height: 1px;
    position: absolute;
    background-color: rgb(241, 227, 42);
    transform: scaleX(0);
    transition: .25s transform cubic-bezier(.4,0,.2,1);
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.nav-link:hover {
    color:rgb(241, 227, 42) ;
}

.header-div {
display: flex;
align-items: center;
justify-content: space-between;
padding: 25px 65px;
}

.round {
position: absolute;
left: 641px;
top: 396px;
}

.flower-header {
    position: absolute;
    right: 0px;
    top: 226px;
}

.header-title {
    font-family: "Playfair Display", sans-serif;
font-style: italic;
font-weight: 500;
font-size: 48px;
line-height: 1.25;
color: #a93b59;
padding-left: 65px;
}

.header-text {
    font-family: "Playfair Display", sans-serif;
font-weight: 400;
font-size: 86px;
line-height: 0.69767;
text-transform: uppercase;
padding-left: 174px;

}

.header-span {
    font-family: "Playfair Display", sans-serif;
font-style: italic;
font-weight: 500;
font-size: 48px;
line-height: 1.25;
color: #a93b59;
position: absolute;
top: 300px;
left: 524px;
}

.text-p {
    font-family: "Source Sans Pro", sans-serif;
font-weight: 400;
font-size: 24px;
text-transform: capitalize;
padding-left: 175px;
padding-bottom: 42px;
}

.header-btn {
    font-family: "Source Sans Pro", sans-serif;
font-weight: 400;
font-size: 24px;
color: #f5ebeb;
border-radius: 15px;
padding: 16px 32px;
width: 437px;
height: 62px;
background: #a93b59;
padding: 16px 125px;
margin-left: 174px;

}

.header-btn:hover {
color: #a93b59;
background-color: #3e3939;
}